<%= form_with model: @book do |f| %>

  <h4>本のタイトル</h4>
  <%= f.text_field :title %>
  
  <h4>感想</h4>
  <%= f.text_area :body %>
  
  <%= f.submit '編集' %>
  
  <p>
    <%= link_to "閲覧", book_path(@book.id) %> |
    <%= link_to "戻る", books_path %>
  </p>
  
 <% end %>