<h1>Books</h1>
<% @books.each do |book| %>
  <div class="book-box">
    <h3>本のタイトル</h3>
    <span class="book-title"><%= book.title %></span>
    <h3>感想</h3>
    <span class="book-body"><%= book.body %></span>
    
    <%= link_to "編集", edit_book_path(book.id) %>
    <%= link_to "削除", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  </div>
<% end %>

<h2>New book</h2>
<%= form_with model: @books, url: '/books', method: :post do |f| %>
  <h3>本のタイトル</h3>
  <%= f.text_field :title %>
  <h3>感想</h3>
  <%= f.text_area :body %>
	
  <%= f.submit '投稿' %>
<% end %>