<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <div><%= flash[:notice] %></div>
    <div class="book-show-list">
      <p><strong>本のタイトル：</strong><%= @book.title %></p>
      <p><strong>感想：</strong><%= @book.body %></p>
    </div>

    <p>
      <%= link_to "編集", edit_book_path(@book.id) %> |
      <%= link_to "戻る", books_path %>
    </p>
  </body>
</html>