<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <div><%= flash[:notice] %></div>
    <h4>本のタイトル :</h4>
    <p><%= @book.title %></p>
    <h4>感想 :</h4>
    <p><%= @book.body %></p>

    <p>
      <%= link_to "編集", edit_book_path(@book.id) %> |
      <%= link_to "戻る", books_path %>
    </p>
  </body>
</html>